
<% posts.each_slice(6) do |slice|%>

	<div class="row row-flex">
		<% slice.each do |post| %>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="thumbnail">
					<%= link_to posts_path do %>
						<%= image_tag post.picture, style: 'height:100px; width:100px;' %>
					<% end %> 
					<div class="caption">
						<p class="title"><%=  link_to truncate(post.title, length: 50), post_path(post), class:"a-primary"%></p>
						<p><%= simple_format(truncate(post.description, length: 30)) %></p>
						<% if user_signed_in? %>
							<%= link_to "Szczegóły", posts_path, class:"btn btn-default"%>
						<% else %>
							<p class=”lead”>
							Musisz się zalogować, aby dodać wpis.
							<%= link_to "Zaloguj się", new_user_session_path %>
							</p>
						<% end %>
						<p></p>
					</div>
				</div>
			</div>
		<% end %>

	</div>
<% end %>
